<ngb-tabset class="ng-tabset-basic-container" [destroyOnHide]="false">
    <ngb-tab title="Simple Bookmarking">
        <ng-template ngbTabContent>
            <div class="simple-bookmarking">
                <div class="simple-left-side">
                    <img src="../../assets/images/illustration-features-tab-1.svg" alt="">
                </div>
                <div class="simple-right-side">
                    <h2>Bookmark in one click</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur atque consectetur magnam! Accusantium sit mollitia doloribus repellat quisquam quae natus molestiae. Doloribus, facilis ratione quidem animi dolorum sequi mollitia
                        repudiandae?
                    </p>
                    <button>More Info</button>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>Speedy Searching</ng-template>
        <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
            <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR.
                Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical
                culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>Easy Searching</ng-template>
        <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
            <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR.
                Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical
                culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </ng-template>
    </ngb-tab>

</ngb-tabset>